Repository Kong/docker-pulp, changes with the labels that .github/labeler.yml gives for each.
All labels: docs, github_actions, python, docker

.github/labeler.yml:

---
docs:
- '**/*.md'

github_actions:
- .github/**

python:
- '**/*.py'
- /pulp-core/requirements.txt
- /Makefile

docker:
- pulp-*/**

Simplify CI action (CLD-2584)
  .github/workflows/CI.yaml
Labels: github_actions

chore(lint): hadolint fix
  pulp-core/Dockerfile
Labels: docker

Split up build/release/publish action
  .github/workflows/release.yml
  Makefile
Labels: github_actions

Fix workflow syntax errors
  .github/workflows/release.yml
Labels: github_actions

Update autolabel because Dependabot sucks
  .github/workflows/autolabel.yaml
Labels: github_actions

Fix quoting
  .github/workflows/CI.yaml
Labels: github_actions

Auto-approve dependabot PRs to Github actions
  .github/workflows/auto_approve.yml
Labels: github_actions

Stop using env at top level environment
  .github/workflows/release.yml
Labels: github_actions

Add action to enable automerge
  .github/workflows/auto_approve.yml
Labels: github_actions

Rename action file more better
  .github/workflows/auto_action.yml
Labels: github_actions

Stop using hashFiles function
  .github/workflows/release.yml
Labels: github_actions

Move cache directory definition around
  .github/workflows/release.yml
Labels: github_actions

Remove unecessary (and broken) env var
  .github/workflows/release.yml
Labels: github_actions

Clean up old artifacts in actions
  .github/workflows/remove-old-artifacts.yml
Labels: github_actions

add default codeowners file
  .github/CODEOWNERS
Labels: github_actions

Add explicit needs on steps
  .github/workflows/release.yml
Labels: github_actions

Formatting
  .github/workflows/release.yml
Labels: github_actions

Update pulp versions and deps
  pulp-core/Dockerfile
  pulp-core/patches/content_disposition_update.patch.3.12
  pulp-core/patches/url_stabilize.patch
  pulp-core/requirements.txt
Labels: docker

Add file existence check on cache import
  .github/workflows/release.yml
Labels: github_actions

Update README.md
  README.md
Labels: docs

pre-create workdir
  pulp-core/Dockerfile
Labels: docker

based on opensuse
  LICENSE
  Makefile
  RADEME.MD
  README.md
  docker-compose.yml
  pulp-api/Dockerfile
  pulp-api/entrypoint.sh
  pulp-content/Dockerfile
  pulp-content/entrypoint.sh
  pulp-core/Dockerfile
  pulp-core/README.md
  pulp-core/patches/_emptydir
  pulp-core/patches/content_disposition_update.patch
  pulp-core/patches/content_disposition_update.patch.3.12
  pulp-core/requirements.txt
  pulp-resource-manager/Dockerfile
  pulp-resource-manager/entrypoint.sh
  pulp-worker/Dockerfile
  pulp-worker/entrypoint.sh
  pulpcore/Dockerfile
  pulpcore/poetry.lock
  pulpcore/pyproject.toml
  pulpcore/sign-metadata.sh
  pulpcore/signing.py
Labels: docs, python, docker

adapter opensuse
  .bumpversion.cfg
  .dockerignore
  .gitignore
  .hadolint.yaml
  .pre-commit-config.yaml
  .secrets.baseline
  .yamllint
  RADEME.MD
Labels: none
