Repository Kong/docker-pulp, changes with the labels that .github/labeler.yml gives for each.
All labels: docs, github_actions, python, docker, build

Revert "Bump boto3 from 1.18.24 to 1.18.33 in /pulp-core (#172)"
  pulp-core/requirements.txt
Labels: python, docker

Allow release creation on workflow_dispatch
  .github/workflows/release.yml
Labels: github_actions

Bump pulp-rpm to 1.14.6 et al.
  pulp-core/requirements.txt
Labels: python, docker

Temporarily disable container support
  pulp-core/requirements.txt
Labels: python, docker

Switch release to use PAT
  .github/workflows/release.yml
Labels: github_actions

fix: pulp-core/requirements.txt to reduce vulnerabilities
  pulp-core/requirements.txt
Labels: python, docker

Update pulp-core/requirements.txt
  pulp-core/requirements.txt
Labels: python, docker

fix: pulp-core/requirements.txt to reduce vulnerabilities
  pulp-core/requirements.txt
Labels: python, docker

fix: pulp-core/requirements.txt to reduce vulnerabilities
  pulp-core/requirements.txt
Labels: python, docker

fix: pulp-core/requirements.txt to reduce vulnerabilities
  pulp-core/requirements.txt
Labels: python, docker

Remove compat-openssl
  pulp-core/Dockerfile
Labels: docker, build

add old-worker compat var
  .env
Labels: none

Bump pulp core to 3.15.x
  pulp-core/requirements.txt
Labels: python, docker

fix: pulp-core/requirements.txt to reduce vulnerabilities
  pulp-core/requirements.txt
Labels: python, docker

fix: pulp-core/requirements.txt to reduce vulnerabilities
  pulp-core/requirements.txt
Labels: python, docker

Replace missing license file
  LICENSE
Labels: none

fix: pulp-core/requirements.txt to reduce vulnerabilities
  pulp-core/requirements.txt
Labels: python, docker

update pre-commit modules
  .pre-commit-config.yaml
  .secrets.baseline
Labels: none

start cleanup
  .github/workflows/release.yml
Labels: github_actions

fix spelling and yamlfmt whining
  .github/workflows/release.yml
Labels: github_actions

More cache enablement
  .github/workflows/release.yml
Labels: github_actions

Realign comments
  .github/workflows/release.yml
Labels: github_actions

temporarily run on all PRs
  .github/workflows/release.yml
Labels: github_actions

change codeowners from @Kong/team-cloud to @Kong/engineering-enablement
  .github/CODEOWNERS
Labels: github_actions

change dependabot reviewers to enablement
  .github/dependabot.yml
  .yamllint
Labels: github_actions

Testing the shared action
  .github/workflows/test-workflow.yaml
Labels: github_actions

Bug bounty test - PLEASE DO NOT APPROVE.. (dssmuv)
  Makefile
  pulp-api/entrypoint.sh
  pulp-content/entrypoint.sh
  pulp-core/sign-metadata.sh
  pulp-resource-manager/entrypoint.sh
  pulp-worker/entrypoint.sh
Labels: docker, build

Update README.md
  README.md
Labels: docs

.github/labeler.yml:

---
docs:
- '**/*.md'

github_actions:
- .github/**

python:
- '**/*.py'
- pulp-core/requirements.txt

docker:
- pulp-*/**

build:
- Makefile
- docker-compose.yaml
- '*/Dockerfile'
- pulp-core/patches/**
