Repository Kong/docker-pulp, pull requests merged in 2021-05, with the labels that each got.

#73 Update various python modules
  pulp-core/requirements.txt
Labels: automerge

#75 Add autolabel actions
  .github/labeler.yml
  .github/pr-labeler.yml
  .github/workflows/autolabel.yaml
Labels: feature

#81 feat(gunicorn): allow for gunicorn arguments to be sent
  docker-compose.yml
  pulp-api/entrypoint.sh
Labels: feature

#82 Exec rq in entrypoint
  pulp-api/entrypoint.sh
  pulp-content/entrypoint.sh
  pulp-resource-manager/entrypoint.sh
  pulp-worker/entrypoint.sh
Labels: feature

#83 Add pre-commit
  .bumpversion.cfg
  .github/depenadbot.yaml
  .github/dependabot.yml
  .github/labeler.yml
  .github/pr-labeler.yml
  .github/workflows/autolabel.yaml
  .github/workflows/pre-commit.yml
  .github/workflows/release.yml
  .hadolint.yaml
  .pre-commit-config.yaml
  .secrets.baseline
  .yamllint
  Makefile
  README.md
  docker-compose.yml
  pulp-api/Dockerfile
  pulp-api/entrypoint.sh
  pulp-content/Dockerfile
  pulp-content/entrypoint.sh
  pulp-core/Dockerfile
  pulp-resource-manager/Dockerfile
  pulp-worker/Dockerfile
Labels: docs, feature
