Repository Kong/docker-pulp, pull requests merged in 2021-06, with the labels that each got.

#92 Update requirements to current
  pulp-core/requirements.txt
Labels: automerge, dependencies

#93 Feat/fix labels
  .github/labeler.yml
Labels: feature, github_actions

#94 Workflow to update helm release
  .github/workflows/CI.yaml
Labels: feature, github_actions

#95 Simplify CI action (CLD-2584)
  .github/workflows/CI.yaml
Labels: bug, github_actions

#99 chore(lint): hadolint fix
  pulp-core/Dockerfile
Labels: docker

#101 Split up build/release/publish action
  .github/workflows/release.yml
  Makefile
Labels: feature, github_actions

#102 Fix workflow syntax errors
  .github/workflows/release.yml
Labels: bug, github_actions

#104 Update autolabel action because Dependabot security
  .github/workflows/autolabel.yaml
Labels: github_actions

#105 Fix quoting
  .github/workflows/CI.yaml
Labels: bug, github_actions

#107 Stop using env at top level environment
  .github/workflows/release.yml
Labels: bug, github_actions

#106 Auto-approve dependabot PRs to Github actions
  .github/workflows/auto_approve.yml
Labels: feature, github_actions

#109 Move cache directory definition around
  .github/workflows/release.yml
Labels: automerge, bug, github_actions

#111 Remove unecessary (and broken) env var
  .github/workflows/release.yml
Labels: automerge, bug, github_actions

#112 Stop using hashFiles function
  .github/workflows/release.yml
Labels: automerge, bug, github_actions
